body {
/*	background: black; */
	color: 			#dddddd;
	/*background: #DCDCDC;*/
	background: 	#ffffff;
	border: 		0;
	/*margin: 		0;*/
	/*text-align: 	center;*/
	font-size: 		18px;
	font-family: 	"Avenir", sans-serif;
	background-image: url("../img/footer_lodyas.png");
    background-repeat: repeat;

}

header {
	
}

header video {
	z-index: 0;
    background-size: 100% 100%;
    top: 0px;
    left: 0px;
    /*min-width: 100%;*/
    min-height: 100%;
/*    width: auto;
    height: auto;*/
    margin-left: 0%;
}

.opening {
	z-index: 		2;
	position:  		absolute;
	top: 			50%;
	line-height: 	50%;
	text-align: 	center;
	margin-left: 	auto;
	margin-right: 	auto;
	padding-left: 	0%;
	border: 		1px white dashed;
	width: 			100%;
}

.content {
	margin-left:  	auto;
    margin-right:  	auto;
    max-width:  	1080px;
    /*border: 		1px white dashed;*/
}

section {
	/*border:  		1px white dashed;*/
	width:  		60%;
	float:  		left;
	min-height: 	400px;
}

#Section_1 {
	float: 			left;
}

#Section_2 {
	float: 			right;
}

#Section_3 {
	float: 			left;
}

h1 {
	color: 			#BDA487;
	font-size: 		56pt;
	font-weight: 	lighter;
	line-height:  	40%;
	font-family: 	"freight-big-pro", "Avenir", sans-serif;

}

h2 {
	color: 			#BDA487;
	font-size: 		42pt;
	font-weight: 	lighter;
	line-height:  	40%;
	margin-top: 	45pt;
	font-family: 	"freight-big-pro", "Avenir", sans-serif;
}

h4 {
	color: 			#BDA487;
	font-size: 		24pt;
	font-weight: 	lighter;
	line-height:  	40%;
	font-family: 	"Avenir", sans-serif;

}

.text_box {
	margin: 		30px;
	text-align: 	left;
	background-color: #BDA487;
}

p, ul {
	font-family:  	"proxima-nova", sans-serif;
	color: 			#dddddd;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
 
#Section_1 {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
 
#Section_2 {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}
 
#Section_3 {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

.revealOnScroll { opacity: 0; }

@media screen and (max-width: 960px) {
	h1 { font-size: 46px; line-height: 90%; }
	h2 { font-size: 32px; line-height: 90%; }
	h3 { font-size: 28px; line-height: 90%; }
	h4 { font-size: 24px; line-height: 90%; }
}

@media screen and (max-width: 700px) {
	h1 { font-size: 36px; line-height: 90%; }
	h2 { font-size: 32px; line-height: 90%; }
	h3 { font-size: 28px; line-height: 90%; }
	h4 { font-size: 24px; line-height: 90%; }

	section { width: 80%; float: none; margin-left: auto; margin-right: auto;}
	#Section_1 { float: none; }
	#Section_2 { float: none; }
	#Section_3 { float: none; }
}